# **DATA MERGE**

In [65]:
# importing necessary libraries
import pandas as pd
from datetime import date
from datetime import datetime
import numpy as np
import seaborn as sns #visualisation
import matplotlib.pyplot as plt #visualisation
%matplotlib inline 
sns.set(color_codes=True)

## Importamos datasets

In [66]:
demogr= pd.read_csv('/content/train_datos_demograficos_cleandef.csv')
demogr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4089 entries, 0 to 4088
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customerid         4089 non-null   object
 1   bank_name_clients  4089 non-null   object
 2   age                4089 non-null   int64
 3   state              4089 non-null   object
 4   age_interval       4085 non-null   object
dtypes: int64(1), object(4)
memory usage: 159.9+ KB

In [67]:
performance= pd.read_csv('/content/train_performance_cleandef.csv')
performance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4368 entries, 0 to 4367
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customerid         4368 non-null   object
 1   systemloanid       4368 non-null   int64
 2   loannumber         4368 non-null   object
 3   loanamount         4368 non-null   float64
 4   termdays           4368 non-null   object
 5   interest           4368 non-null   float64
 6   loan_interval      4368 non-null   object
 7   interest_interval  4368 non-null   object
 8   good_bad_flag      4368 non-null   object
dtypes: float64(2), int64(1), object(6)
memory usage: 307.2+ KB

In [68]:
prevloan= pd.read_csv('/content/train_prevloan_cleandef.csv')
prevloan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17971 entries, 0 to 17970
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customerid          17971 non-null  object
 1   systemloanid        17971 non-null  int64
 2   loannumber          17971 non-null  int64
 3   loanamount          17971 non-null  float64
 4   termdays            17971 non-null  object
 5   payment_span_hours  17971 non-null  int64
 6   active_span_days    17971 non-null  int64
 7   interest            17971 non-null  float64
dtypes: float64(2), int64(4), object(2)
memory usage: 1.1+ MB

##Extraemos data relevante de Prevloan dataset

### Avg Loan Amount

In [69]:
df_loanamount = prevloan[["customerid","loanamount"]]
avg_loanamount = df_loanamount.groupby("customerid", as_index=False).mean()
avg_loanamount.columns= ["customerid", "avg_loanamount"]

In [70]:
avg_loanamount.head()

                         customerid  avg_loanamount
0  8a1088a0484472eb01484669e3ce4e0b    10000.000000
1  8a1a1e7e4f707f8b014f797718316cad    17500.000000
2  8a1a32fc49b632520149c3b8fdf85139    12857.142857
3  8a1eb5ba49a682300149c3c068b806c7    16250.000000
4  8a1edbf14734127f0147356fdb1b1eb2    10000.000000

### Avg Payment Span in hours

In [71]:
df_paym_span = prevloan[["customerid","payment_span_hours"]]
avg_paym_span = df_paym_span.groupby("customerid", as_index=False).mean()
avg_paym_span.columns= ["customerid", "avg_paym_span_hrs"]

In [72]:
avg_paym_span.head()

                         customerid  avg_paym_span_hrs
0  8a1088a0484472eb01484669e3ce4e0b          20.000000
1  8a1a1e7e4f707f8b014f797718316cad          14.750000
2  8a1a32fc49b632520149c3b8fdf85139          12.714286
3  8a1eb5ba49a682300149c3c068b806c7          14.000000
4  8a1edbf14734127f0147356fdb1b1eb2          11.500000

### Avg Active Span in days

In [73]:
df_active_span = prevloan[["customerid","active_span_days"]]
avg_active_span = df_active_span.groupby("customerid", as_index=False).mean()
avg_active_span.columns= ["customerid", "avg_active_span_days"]

In [74]:
avg_active_span.head()

                         customerid  avg_active_span_days
0  8a1088a0484472eb01484669e3ce4e0b             22.000000
1  8a1a1e7e4f707f8b014f797718316cad             31.250000
2  8a1a32fc49b632520149c3b8fdf85139             18.285714
3  8a1eb5ba49a682300149c3c068b806c7             28.500000
4  8a1edbf14734127f0147356fdb1b1eb2             18.000000

### Avg Interest

In [75]:
df_interest = prevloan[["customerid","interest"]]
avg_interest = df_interest.groupby("customerid", as_index=False).mean()
avg_interest.columns= ["customerid", "avg_interest"]

In [76]:
avg_interest.head()

                         customerid  avg_interest
0  8a1088a0484472eb01484669e3ce4e0b   1500.000000
1  8a1a1e7e4f707f8b014f797718316cad   4875.000000
2  8a1a32fc49b632520149c3b8fdf85139   2357.142857
3  8a1eb5ba49a682300149c3c068b806c7   4050.000000
4  8a1edbf14734127f0147356fdb1b1eb2   2250.000000

### Number of previous loans

In [77]:
df_loannumber = prevloan[["customerid","loannumber"]]
avg_loannumber = df_loannumber.groupby("customerid", as_index=False).max()
avg_loannumber.columns= ["customerid", "max_loannumber"]

In [78]:
avg_loannumber.head()

                         customerid  max_loannumber
0  8a1088a0484472eb01484669e3ce4e0b               1
1  8a1a1e7e4f707f8b014f797718316cad               4
2  8a1a32fc49b632520149c3b8fdf85139               7
3  8a1eb5ba49a682300149c3c068b806c7               8
4  8a1edbf14734127f0147356fdb1b1eb2               2

### Merge all

In [79]:
prevloan_merged = pd.merge(avg_loanamount, avg_paym_span, on=["customerid"])
prevloan_merged2 = pd.merge(prevloan_merged,avg_active_span, on=["customerid"])
prevloan_merged3 = pd.merge(prevloan_merged2, avg_active_span, on=["customerid"])
prevloan_merged4 = pd.merge(prevloan_merged2, avg_interest, on=["customerid"])
prevloan_merged5 = pd.merge(prevloan_merged4, avg_loannumber, on=["customerid"])

In [80]:
prevloan_merged5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4357 entries, 0 to 4356
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   customerid            4357 non-null   object
 1   avg_loanamount        4357 non-null   float64
 2   avg_paym_span_hrs     4357 non-null   float64
 3   avg_active_span_days  4357 non-null   float64
 4   avg_interest          4357 non-null   float64
 5   max_loannumber        4357 non-null   int64
dtypes: float64(4), int64(1), object(1)
memory usage: 238.3+ KB

In [82]:
prevloan_merged5.head()

,customerid,avg_loanamount,avg_paym_span_hrs,avg_active_span_days,avg_interest,max_loannumber
0,8a1088a0484472eb01484669e3ce4e0b,10000.000000,20.000000,22.000000,1500.000000,1
1,8a1a1e7e4f707f8b014f797718316cad,17500.000000,14.750000,31.250000,4875.000000,4
2,8a1a32fc49b632520149c3b8fdf85139,12857.142857,12.714286,18.285714,2357.142857,7
3,8a1eb5ba49a682300149c3c068b806c7,16250.000000,14.000000,28.500000,4050.000000,8
4,8a1edbf14734127f0147356fdb1b1eb2,10000.000000,11.500000,18.000000,2250.000000,2

In [81]:
prevloan_merged5.to_csv('/content/prevloan_merged.csv', index = False)

## Merged datasets

In [ ]:
perf_prevloan_merged= performance.join(prevloan_merged5.set_index('customerid'), on='customerid')
perf_prevloan_merged.info()

In [ ]:
perf_prevloan_merged.isnull().sum()

In [63]:
perf_prevloan_merged = perf_prevloan_merged.dropna()
perf_prevloan_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4357 entries, 0 to 4367
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   customerid            4357 non-null   object
 1   systemloanid          4357 non-null   int64
 2   loannumber            4357 non-null   object
 3   loanamount            4357 non-null   float64
 4   termdays              4357 non-null   object
 5   interest              4357 non-null   float64
 6   loan_interval         4357 non-null   object
 7   interest_interval     4357 non-null   object
 8   good_bad_flag         4357 non-null   object
 9   avg_loanamount        4357 non-null   float64
 10  avg_paym_span_hrs     4357 non-null   float64
 11  avg_active_span_days  4357 non-null   float64
 12  avg_interest          4357 non-null   float64
 13  max_loannumber        4357 non-null   float64
dtypes: float64(7), int64(1), object(6)
memory usage: 510.6+ KB

In [93]:
total_merged= perf_prevloan_merged.join(demogr.set_index('customerid'), on='customerid')
total_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4364 entries, 0 to 4367
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   customerid            4364 non-null   object
 1   systemloanid          4364 non-null   int64
 2   loannumber            4364 non-null   object
 3   loanamount            4364 non-null   float64
 4   termdays              4364 non-null   object
 5   interest              4364 non-null   float64
 6   loan_interval         4364 non-null   object
 7   interest_interval     4364 non-null   object
 8   good_bad_flag         4364 non-null   object
 9   avg_loanamount        4364 non-null   float64
 10  avg_paym_span_hrs     4364 non-null   float64
 11  avg_active_span_days  4364 non-null   float64
 12  avg_interest          4364 non-null   float64
 13  max_loannumber        4364 non-null   float64
 14  bank_name_clients     3083 non-null   object
 15  age                   3083 non-null   float64
 16  state                 3083 non-null   object
 17  age_interval          3080 non-null   object
dtypes: float64(8), int64(1), object(9)
memory usage: 647.8+ KB

In [59]:
total_merged.isnull().sum()

customerid                 0
systemloanid               0
loannumber                 0
loanamount                 0
termdays                   0
interest                   0
loan_interval              0
interest_interval          0
good_bad_flag              0
avg_loanamount             0
avg_paym_span_hrs          0
avg_active_span_days       0
avg_interest               0
max_loannumber             0
bank_name_clients       1281
age                     1281
state                   1281
age_interval            1284
dtype: int64

## Rellenamos datos

In [94]:
demogr_test= pd.read_csv('/content/test_datos_demograficos_cleandef.csv')
demogr_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1403 entries, 0 to 1402
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customerid         1403 non-null   object
 1   bank_name_clients  1403 non-null   object
 2   age                1403 non-null   int64
 3   state              1403 non-null   object
 4   age_interval       1398 non-null   object
dtypes: int64(1), object(4)
memory usage: 54.9+ KB

In [95]:
#para saber cuantas del test están en el merge total
demogr_test["isin"] = demogr_test.apply(lambda x: "si" if total_merged["customerid"].isin(x).any() else "no",axis=1)
demogr_test.groupby('isin').count()

      customerid  bank_name_clients   age  state  age_interval
isin
no           369                369   369    369           367
si          1034               1034  1034   1034          1031

In [96]:
#nos quedamos solo con las que sí están
demogr_test = demogr_test.drop(demogr_test[demogr_test['isin'] == 'no'].index)
del demogr_test['isin']
demogr_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1034 entries, 0 to 1402
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customerid         1034 non-null   object
 1   bank_name_clients  1034 non-null   object
 2   age                1034 non-null   int64
 3   state              1034 non-null   object
 4   age_interval       1031 non-null   object
dtypes: int64(1), object(4)
memory usage: 48.5+ KB

In [97]:
#actualizamos valores variable bank_name_clients

total_merged = total_merged.merge(demogr_test[['customerid', 'bank_name_clients']],on='customerid',how="left")
total_merged['bank_name_clients_y'] = total_merged['bank_name_clients_y'].fillna(total_merged['bank_name_clients_x'])
total_merged.drop(["bank_name_clients_x"], inplace=True, axis=1)
total_merged.rename(columns={'bank_name_clients_y':'bank_name_clients'},inplace=True)

In [98]:
#actualizamos valores variable age

total_merged = total_merged.merge(demogr_test[['customerid', 'age']],on='customerid',how="left")
total_merged['age_y'] = total_merged['age_y'].fillna(total_merged['age_x'])
total_merged.drop(["age_x"], inplace=True, axis=1)
total_merged.rename(columns={'age_y':'age'},inplace=True)

In [99]:
#actualizamos valores variable age_interval

total_merged = total_merged.merge(demogr_test[['customerid', 'age_interval']],on='customerid',how="left")
total_merged['age_interval_y'] = total_merged['age_interval_y'].fillna(total_merged['age_interval_x'])
total_merged.drop(["age_interval_x"], inplace=True, axis=1)
total_merged.rename(columns={'age_interval_y':'age_interval'},inplace=True)

In [100]:
#actualizamos valores variable state

total_merged = total_merged.merge(demogr_test[['customerid', 'state']],on='customerid',how="left")
total_merged['state_y'] = total_merged['state_y'].fillna(total_merged['state_x'])
total_merged.drop(["state_x"], inplace=True, axis=1)
total_merged.rename(columns={'state_y':'state'},inplace=True)

In [ ]:
total_merged.isnull().sum()

In [ ]:
total_merged= total_merged.dropna()
total_merged.info()

In [102]:
total_merged.to_csv('/content/total_merged_def.csv', index = False)